.contact_text_imgs .contact_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact_text_imgs .contact_text h5 {
  color: #4c545c;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.391px;
  margin-top: 4rem;
  margin-bottom: 1.8rem;
}
.contact_text_imgs .contact_text p {
  color: #9eabb2;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.12px;
  margin-bottom: 5.6rem;
  max-width: 311px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

header {
  background-image: url(../imgs/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border: none;
}

.navbar_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12.3rem;
}

.logo_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo_text h1 {
  color: #4c545c;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.522px;
  margin-top: 6.4rem;
  max-width: 311px;
}
.logo_text p {
  color: #9eabb2;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.12px;
  max-width: 311px;
  margin-top: 1.6rem;
}

.button_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.4rem;
  gap: 3.7rem;
}
.button_logo button {
  padding: 13px 50px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.5px;
  border-radius: 28px;
  background: #26bba4;
  box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.5), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
  cursor: pointer;
}

.button_logo > button:nth-child(2) {
  background: #6174ff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.header_contact {
  margin-top: 16rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header_contact h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4c545c;
  max-width: 311px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.457px;
}
.header_contact p {
  color: #9eabb2;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.12px;
  max-width: 311px;
  margin-top: 1.6rem;
  margin-bottom: 6.5rem;
}

.header_contact_img_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18.6rem;
}
.header_contact_img_text .header_contact_img {
  max-width: 312px;
}
.header_contact_img_text .header_contact_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.6rem;
  margin-top: 5.6rem;
}
.header_contact_img_text .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_contact_img_text .text h5 {
  color: #4c545c;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.391px;
}
.header_contact_img_text .text p {
  color: #9eabb2;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.12px;
  max-width: 311px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .main_content_text {
  max-width: 311px;
}
main .main_content_text h2 {
  color: #4c545c;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.457px;
}
main .main_content_text p {
  color: #9eabb2;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.12px;
}
main .main_content_img {
  max-width: 311px;
  margin-top: 6.4rem;
}
main .main_content_text_2 {
  max-width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .main_content_text_2 h2 {
  color: #4c545c;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.457px;
}
main .main_content_text_2 p {
  color: #9eabb2;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.12px;
  margin-top: 1.6rem;
  margin-bottom: 6rem;
}

.contact_2_imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.7rem;
  max-width: 311px;
  margin-bottom: 17rem;
}

.contacts_text {
  max-width: 311px;
}
.contacts_text h2 {
  color: #4c545c;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.587px;
}
.contacts_text p {
  color: #9eabb2;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.135px;
  margin-top: 1.6rem;
  margin-bottom: 4.6rem;
}

/*# sourceMappingURL=main.css.map */
