* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
}
header {
  background-image: url(../imgs/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}
button {
  border: none;
}
// .container {
//   max-width: 1200px;
//   margin: 0 auto;
// }
