.navbar_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12.3rem;
}
.logo_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: #4c545c;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.522px;
    margin-top: 6.4rem;
    max-width: 311px;
  }
  p {
    color: #9eabb2;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.12px;
    max-width: 311px;
    margin-top: 1.6rem;
  }
}
.button_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.4rem;
  gap: 3.7rem;

  button {
    padding: 13px 50px;
    color: #fff;

    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.5px;
    border-radius: 28px;
    background: #26bba4;

    box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.5),
      0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
    cursor: pointer;
  }
}
.button_logo > button:nth-child(2) {
  background: #6174ff;

  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1),
    0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}
.header_contact {
  margin: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    color: #4c545c;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.457px;
    max-width: 511px;
  }
  p {
    color: #9eabb2;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.12px;
    margin-top: 1.6rem;
    max-width: 511px;
  }
}
.header_contact_img_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header_contact_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.6rem;
    margin-top: 5.6rem;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      color: #4c545c;

      text-align: center;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.391px;
    }
    p {
      color: #9eabb2;

      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      letter-spacing: 0.12px;
      max-width: 311px;
    }
  }
}
